.white {
  color: #f9f9ff;
}

/* myLife.html css */


#Hobbies {
  background-color: #C5C1C0;
  width: 100%;
}

#Travel {
  background-color: #1A2930;
  width: 100%;
}

#Family {
  background-color: #0A1612;
  width: 100%;
}

#Legos {
  background-color: #C5C1C0;
  width: 100%;
}

#Contact {
  background-color: #F7CE3E;
  width: 100%;
}

.meh {
  padding-left: 45%;
}
